{% extends "base.html" %} {% block title %} All Stories {% endblock %} {% block
body %}
<div class="max-w-4xl mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold">All Saved Stories</h1>
  {% for story in saved_stories %}
  <article
    class="rounded-xl border border-base-300 bg-base-100 p-5 shadow-sm hover:border-primary transition cursor-pointer mt-2"
  >
    <div class="flex flex-col gap-5 md:flex-row">
      <!-- Left Content -->
      <div class="flex-1">
        <!-- Author -->

        <div class="mb-4 flex items-center gap-3">
          <img
            src="{{ url_for('users.avatar', user_id=story.user_id) }}"
            alt="{{ story.username }}"
            class="h-10 w-10 rounded-full object-cover"
          />

          <div class="flex-1">
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="{{url_for('users.profile', username=story.username)}}"
                class="font-medium hover:text-primary"
              >
                {{ story.name }}
              </a>

              <span class="text-base-content/40">•</span>

              <span class="text-sm text-base-content/60">
                @{{ story.username }}
              </span>

              <span class="text-base-content/40">•</span>

              <span class="text-sm text-base-content/60">
                <i class="fa-regular fa-calendar mr-1"></i>

                {{story.date_created}}
              </span>
            </div>
          </div>
        </div>

        <!-- Story -->

        <a
          href="{{url_for('stories.story', story_uid=story['story_uid'],  slug=generate_slug_from_title(story['title']))}}"
          class="text-xl font-semibold hover:text-primary transition"
        >
          {{ story.title }}
        </a>

        <p class="mt-2 line-clamp-3 text-base-content/70">{{ story.desc }}</p>

        <!-- Footer -->

        <div
          class="mt-5 flex flex-wrap items-center gap-5 text-sm text-base-content/60"
        >
          <span>
            <i class="fa-regular fa-eye mr-1"></i>
            {{story.views_count}}
          </span>

          <span>
            <i class="fa-regular fa-thumbs-up mr-1"></i>
            {{story.like_count}}
          </span>

          <span>
            <i class="fa-regular fa-comment mr-1"></i>
            {{story.comment_count}}
          </span>
        </div>
      </div>

      <!-- Banner -->

      <div
        class="md:w-56 md:h-36 w-full h-48 shrink-0 overflow-hidden rounded-xl"
      >
        <img
          src="{{ url_for('stories.banner', story_id=story.id) }}"
          alt="{{ story.title }}"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </article>
</div>
{% endfor %} {% endblock %}
