{% extends "base.html" %}
{% block title %} create blog {% endblock %}

{% block content %}
    <form action="{{ url_for('postBlog.create') }}" method="POST" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <input type="text" name="title" placeholder="Type here" class="input w-full max-w-xs" />
        <br>
        <input type="text" name="body" placeholder="Type here" class="input w-full max-w-xs" />
        <br>
        <button class="btn btn-outline" type="submit">Create</button>
    </form>


{% endblock %}